.work{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 20px;
    
}
.work img{
    width: 100%;
    height: 250px;
}
.brcpxa{
    background: #FBD062 !important;
    box-shadow: none !important;
}
.ikyGAt{
    background: #242A65 !important;
}
.chowzb, .hCVuYx{
    display:none;
}